<Configuration status="debug" name="Main">
<Properties>
    <Property name="LOG_PATTERN">%x - %-5p [%t] - %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <File name="File1" fileName="questions.log" append="false">
            <MarkerFilter marker = "question" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
        <File name="File2" fileName="statements.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <MarkerFilter marker = "statement" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="File3" fileName="nonmarked.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <NoMarkerFilter onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="File4" fileName="Győrfi_Pál.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <TimeFilter start="20:00:00" end="05:00:00" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File1"/>
            <AppenderRef ref="File2"/>
            <AppenderRef ref="File3"/>
            <AppenderRef ref="File4"/>

        </Root>
    </Loggers>
</Configuration>
